<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Information</title>
</head>
<body>
    Product Information
    <br>
    <form action='/product' method="post">
        <label for="product">Enter product:</label><br>
        <input type="text" id="product" name="product"><br>
        <input type="submit" value="Submit">
      </form>
      <br>
      {% if product %}
      Product Name: {{ product.name }} <br>
      Product Price: {{ product.price }} <br>
  {% endif %}

</body>
</html>